In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
df = pd.read_csv('vendas.csv', delimiter=';')

In [40]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,price,freight_value,product_category_name,customer_unique_id,customer_city,customer_state,dia_compra,mes_compra,ano_compra,ano_mes
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 00:00:00,2017-10-02 00:00:00,2017-10-04 00:00:00,2017-10-10 00:00:00,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,"29,99","8,72",utilidades_domesticas,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,2,10,2017,2017-10
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 00:00:00,2018-07-26 00:00:00,2018-07-26 00:00:00,2018-08-07 00:00:00,2018-08-13 00:00:00,1.0,595fac2a385ac33a80bd5114aec74eb8,...,"118,7","22,76",perfumaria,af07308b275d755c9edb36a90c618231,barreiras,BA,24,7,2018,2018-07
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 00:00:00,2018-08-08 00:00:00,2018-08-08 00:00:00,2018-08-17 00:00:00,2018-09-04 00:00:00,1.0,aa4383b373c6aca5d8797843e5594415,...,"159,9","19,22",automotivo,3a653a41f6f9fc3d2a113cf8398680e8,vianopolis,GO,8,8,2018,2018-08
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 00:00:00,2017-11-18 00:00:00,2017-11-22 00:00:00,2017-12-02 00:00:00,2017-12-15 00:00:00,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,...,45,"27,2",pet_shop,7c142cf63193a1473d2e66489a9ae977,sao goncalo do amarante,RN,18,11,2017,2017-11
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 00:00:00,2018-02-13 00:00:00,2018-02-14 00:00:00,2018-02-16 00:00:00,2018-02-26 00:00:00,1.0,65266b2da20d04dbe00c5c2d3bb7859e,...,"19,9","8,72",papelaria,72632f0f9dd73dfee390c9b22eb56dd6,santo andre,SP,13,2,2018,2018-02

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111923 entries, 0 to 111922
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       111923 non-null  object
 1   customer_id                    111923 non-null  object
 2   order_status                   111923 non-null  object
 3   order_purchase_timestamp       111923 non-null  object
 4   order_approved_at              111808 non-null  object
 5   order_delivered_carrier_date   110050 non-null  object
 6   order_delivered_customer_date  108804 non-null  object
 7   order_estimated_delivery_date  111923 non-null  object
 8   order_item_id                  111206 non-null  float64
 9   product_id                     111206 non-null  object
 10  seller_id                      111206 non-null  object
 11  shipping_limit_date            111206 non-null  object
 12  price                          111206 non-null  object
 13  freight_value                  111206 non-null  object
 14  product_category_name          109608 non-null  object
 15  customer_unique_id             111923 non-null  object
 16  customer_city                  111923 non-null  object
 17  customer_state                 111923 non-null  object
 18  dia_compra                     111923 non-null  int64
 19  mes_compra                     111923 non-null  int64
 20  ano_compra                     111923 non-null  int64
 21  ano_mes                        111923 non-null  object
dtypes: float64(1), int64(3), object(18)
memory usage: 18.8+ MB

In [42]:
df.drop(['order_id', 'customer_id', 'customer_unique_id'], axis=1, inplace=True)

In [43]:
df.head()

,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,customer_city,customer_state,dia_compra,mes_compra,ano_compra,ano_mes
0,delivered,2017-10-02 00:00:00,2017-10-02 00:00:00,2017-10-04 00:00:00,2017-10-10 00:00:00,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 00:00:00,"29,99","8,72",utilidades_domesticas,sao paulo,SP,2,10,2017,2017-10
1,delivered,2018-07-24 00:00:00,2018-07-26 00:00:00,2018-07-26 00:00:00,2018-08-07 00:00:00,2018-08-13 00:00:00,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 00:00:00,"118,7","22,76",perfumaria,barreiras,BA,24,7,2018,2018-07
2,delivered,2018-08-08 00:00:00,2018-08-08 00:00:00,2018-08-08 00:00:00,2018-08-17 00:00:00,2018-09-04 00:00:00,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 00:00:00,"159,9","19,22",automotivo,vianopolis,GO,8,8,2018,2018-08
3,delivered,2017-11-18 00:00:00,2017-11-18 00:00:00,2017-11-22 00:00:00,2017-12-02 00:00:00,2017-12-15 00:00:00,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 00:00:00,45,"27,2",pet_shop,sao goncalo do amarante,RN,18,11,2017,2017-11
4,delivered,2018-02-13 00:00:00,2018-02-13 00:00:00,2018-02-14 00:00:00,2018-02-16 00:00:00,2018-02-26 00:00:00,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 00:00:00,"19,9","8,72",papelaria,santo andre,SP,13,2,2018,2018-02

In [51]:
pricev = df.price.to_numpy()
fvalue = df.freight_value.to_numpy()
total = pricev + fvalue
total

array(['29,998,72', '118,722,76', '159,919,22', ..., '179,9940,59',
       '179,9940,59', '68,518,36'], dtype=object)

In [38]:
df['total_value'] = df.price + df.freight_value

0           29,998,72
1          118,722,76
2          159,919,22
3              4527,2
4            19,98,72
             ...
111918      174,920,1
111919    205,9965,02
111920    179,9940,59
111921    179,9940,59
111922      68,518,36
Name: total_value, Length: 111923, dtype: object