In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')
df.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95

In [4]:
df.category.unique()

array(['state'], dtype=object)

In [5]:
df = df.drop(columns = ['category'])

In [6]:
df['code'].duplicated().sum()

0

In [7]:
df.isnull().sum()

code             0
state            0
total exports    0
beef             0
pork             0
poultry          0
dairy            0
fruits fresh     0
fruits proc      0
total fruits     0
veggies fresh    0
veggies proc     0
total veggies    0
corn             0
wheat            0
cotton           0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   code           50 non-null     object
 1   state          50 non-null     object
 2   total exports  50 non-null     float64
 3   beef           50 non-null     float64
 4   pork           50 non-null     float64
 5   poultry        50 non-null     float64
 6   dairy          50 non-null     float64
 7   fruits fresh   50 non-null     float64
 8   fruits proc    50 non-null     float64
 9   total fruits   50 non-null     float64
 10  veggies fresh  50 non-null     float64
 11  veggies proc   50 non-null     float64
 12  total veggies  50 non-null     float64
 13  corn           50 non-null     float64
 14  wheat          50 non-null     float64
 15  cotton         50 non-null     float64
dtypes: float64(14), object(2)
memory usage: 6.4+ KB

In [9]:
df.dtypes

code              object
state             object
total exports    float64
beef             float64
pork             float64
poultry          float64
dairy            float64
fruits fresh     float64
fruits proc      float64
total fruits     float64
veggies fresh    float64
veggies proc     float64
total veggies    float64
corn             float64
wheat            float64
cotton           float64
dtype: object

In [10]:
df.describe()

,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000
mean,2728.889000,108.394000,122.282000,112.700000,95.725200,90.05000,191.736000,281.79000,44.428000,72.102000,116.523800,273.042000,222.824000,169.32500
std,3144.837608,193.762904,303.492907,162.878644,168.016886,402.16488,856.334256,1258.49891,116.513625,189.088833,305.615222,556.824919,362.291291,402.92782
min,13.310000,0.100000,0.000000,0.000000,0.190000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,465.142500,13.400000,0.525000,2.950000,6.980000,2.12500,4.550000,6.67000,4.325000,6.950000,11.232500,5.875000,8.500000,0.00000
50%,1822.950000,41.050000,16.800000,33.550000,32.165000,4.80000,10.300000,15.11000,12.500000,20.350000,32.910000,37.200000,78.100000,0.00000
75%,3768.665000,106.725000,84.975000,162.425000,101.535000,25.30000,53.925000,79.24000,45.700000,74.175000,119.845000,182.175000,248.725000,102.46500
max,16472.880000,961.000000,1895.600000,630.400000,929.950000,2791.80000,5944.600000,8736.40000,803.200000,1303.500000,2106.790000,2529.800000,1664.500000,2308.76000

# Beef related

In [11]:
# states who exported over the mean
df[df.beef > df.beef.mean()].state

4       California
5         Colorado
11           Idaho
14            Iowa
15          Kansas
22       Minnesota
24        Missouri
26        Nebraska
30      New Mexico
35        Oklahoma
40    South Dakota
42           Texas
Name: state, dtype: object

In [12]:
# state that exported the most beef
df[df.beef == df.beef.max()]

,code,state,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
42,TX,Texas,6648.22,961.0,42.7,339.2,240.55,31.9,68.0,99.9,43.9,71.3,115.23,167.2,309.7,2308.76

In [13]:
# state that exported the least beef
df[df.beef == df.beef.min()]

,code,state,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
38,RI,Rhode Island,31.59,0.1,0.1,0.2,0.52,0.9,1.9,2.83,1.2,1.9,3.02,0.0,0.0,0.0

# Pork Related

In [14]:
df[df.pork > df.pork.mean()].state

12          Illinois
13           Indiana
14              Iowa
15            Kansas
22         Minnesota
24          Missouri
26          Nebraska
32    North Carolina
34              Ohio
35          Oklahoma
40      South Dakota
Name: state, dtype: object

In [15]:
#exported the most
df[df.pork == df.pork.max()]

,code,state,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
14,IA,Iowa,11273.76,289.8,1895.6,155.6,107.0,1.0,2.2,3.24,2.7,4.4,7.1,2529.8,3.1,0.0

In [16]:
#exported the least
df[df.pork == df.pork.min()]

,code,state,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
11,ID,Idaho,2078.89,119.8,0.0,2.4,294.60,6.9,14.7,21.64,121.7,197.5,319.19,24.0,568.2,0.0
46,WA,Washington,3894.81,59.2,0.0,35.6,154.18,555.6,1183.0,1738.57,138.7,225.1,363.79,29.5,786.3,0.0

# Fruit related

In [17]:
df[df['total fruits'] > df['total fruits'].mean()].state

4     California
8        Florida
36        Oregon
46    Washington
Name: state, dtype: object

In [18]:
#exported the most
df[df['total fruits'] == df['total fruits'].max()]

,code,state,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
4,CA,California,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.4,803.2,1303.5,2106.79,34.6,249.3,1064.95

In [19]:
#exported the most
df[df['total fruits'] == df['total fruits'].min()]

,code,state,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
1,AK,Alaska,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.0,0.6,1.0,1.56,0.0,0.0,0.0

# Veggie Related

In [20]:
df[df['total veggies'] > df['total veggies'].mean()].state

2            Arizona
4         California
5           Colorado
8            Florida
9            Georgia
11             Idaho
21          Michigan
22         Minnesota
31          New York
32    North Carolina
33      North Dakota
36            Oregon
46        Washington
48         Wisconsin
Name: state, dtype: object

In [21]:
#exported the most

df[df['total veggies'] == df['total veggies'].max()]

,code,state,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
4,CA,California,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.4,803.2,1303.5,2106.79,34.6,249.3,1064.95

In [22]:
#exported the least

df[df['total veggies'] == df['total veggies'].min()]

,code,state,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
16,KY,Kentucky,1889.15,54.8,34.2,151.3,28.27,2.1,4.5,6.60,0.0,0.0,0.0,179.1,149.3,0.0
47,WV,West Virginia,138.89,12.0,0.3,45.4,3.90,3.7,7.9,11.54,0.0,0.0,0.0,3.5,1.6,0.0

# Cotton Related

In [23]:
# states who exported over the mean
df[df.cotton > df.cotton.mean()].state

0            Alabama
2            Arizona
3           Arkansas
4         California
9            Georgia
17         Louisiana
23       Mississippi
24          Missouri
32    North Carolina
39    South Carolina
41         Tennessee
42             Texas
Name: state, dtype: object

In [24]:
#exported the most
df[df.cotton == df.cotton.max()]

,code,state,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
42,TX,Texas,6648.22,961.0,42.7,339.2,240.55,31.9,68.0,99.9,43.9,71.3,115.23,167.2,309.7,2308.76

In [25]:
#exported the least
df[df.cotton == df.cotton.min()].state.count()

33